.navbar{
  background: rgb(1, 108, 118)
}
.navbar-brand,.list_item{
  color: #fff !important;
  font-weight: 600;
}
.navbar-brand{
  font-weight: bolder;
}
.list_item:hover{
  color: #eaf89f !important;
}
footer ul li a{
  color: #EDF1D6;
  text-decoration: none;
  font-weight: 600;
}
.custom-card{
  height: 400px;
}
.scrolling-wrapper {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  position: relative;
}
.scrolling-wrapper::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  background-color: transparent;
  height: 4px;
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(1, 108, 118, 0.6); /* Adjust the color and transparency of the scrollbar thumb */
  border-radius: 4px; /* Adjust the border radius of the scrollbar thumb */
}
.scrolling-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(1, 108, 118, 1); /* Adjust the color of the scrollbar thumb on hover */
}
.scrolling-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.signup{
  background-color: rgba(11, 232, 158, 0.796) !important;
  color: rgb(1, 108, 118) !important;
  border-radius: 10px;
  position: absolute;
  right: 50px;
}
.signup:hover{
  background-color: rgb(5, 253, 170);
}
.Logo{
  font-size: large !important;
  font-weight: bolder !important;
  color: rgb(211, 251, 255) !important;
}
.vid{
  margin-left: 0;
  padding-left: 0;
  width: 100vw;
}

/* swetha */
.registerButton{
  flex: 9;
   height: 150%;
   background-color: brown;
   font-size: 15px;
   border: none;
   color: white;
   cursor: pointer;
}

input{
flex: 9;
height: 150%;
border: none;
padding: 0px 80px;
}
span {
 color: lightgray;
 b {
   color: white;
 }
}
.Signup{
cursor: pointer;
}

/* swetha 2 */
form {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

  input {
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    padding-left: 10px;

    &::placeholder {
      color: lightgray;
    }
  }
  .m{
    color: rgba(140, 20, 246, 0.857);
  }
  .loginButton{
    height: 40px;
          border-radius: 5px;
          background-color:brown;
          color: white;
          border: none;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
  }

  .user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .name,
  .username,
  .usermail {
    margin-right: 10px;
  }
  
  .deletebtn {
    margin-left: auto;
  }
  
  .deletebtn button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
.addform{
  background-color: #fff;
  height: 100%;
}