/* .btm{
    background-color: rgba(0, 0, 0, 0.637);
}
.div1{
    border:1px solid grey;
    width:20%;
    border-radius: 10px;
    
    padding-bottom:1%;
    margin:2%;
}
.div1 a img{
    width:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;

}
.div3 a img{
    width:100%;
    height:600px;
}
.div4{
    padding:25px 20px 40px 40px;
    color:#d2f3eb;
}
.div5{
    display:flex;
}
.para1{
    font-weight: bold;
    font-size:70%;
    margin-right:1%;
    border-radius: 5px;
    padding:0.5% 1% 0.5% 1%;
    border:2px solid #099c77;
    color:#d2f3eb;
    box-shadow: 5px 8px #034839;
}

.hd1{
    font-weight: 1000;
    font-size: 35px;
    color: #d2f3eb;
}
.para2{
    font-size:18px;
    color:#61978a;
}
.para3{
    font-size: 18px;
    width:60%;
    margin-bottom: 50px;
}
.b1{
    border:1px solid #099c77;
    border-radius: 25px;
    text-decoration: none;
    color:#d9f7f0;
    font-weight: 600;
    font-size: 75%;
    padding:1% 7% 1% 7%;
    margin-right: 40px;
}
.b1:hover{
    background-color: #099c77;
}
.b2{
    border:1px solid #099c77;
    border-radius: 25px;
    text-decoration: none;
    color:#e5edeb;
    font-weight: 600;
    font-size: 75%;
    padding:1% 7% 1% 7%;
    background-color: #038867;
}
.b2 img{
    width:10px;
    color: #e5edeb;
    margin:0% 1% 0% 0%;
    height: 10px;
}
.s1{
    border-radius: 25px;
    border: 1px solid #099c77;
    padding:15px 10px 5px 10px;
}p1{font-size: 75%;font-weight: 500; margin: 6px;}
.div6{
    display:flex;
    margin: 40px 0px;
}
.div6 a{
    text-decoration: none;
    color:#e5edeb;
    margin-left: 40px;
}
.div6 a:hover{
    text-decoration: underline;
} */